{
    "env": {
        "browser": true,
        "es2021": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:jest/recommended"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx"]
            }
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "import", "react", "react-hooks", "jest"],
    "rules": {
        "import/no-webpack-loader-syntax": "off",
        "jest/no-disabled-tests": "off"
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parser": "@typescript-eslint/parser",
            "rules": {
                "@typescript-eslint/explicit-function-return-type": "off",
                "@typescript-eslint/interface-name-prefix": "off",
                "@typescript-eslint/no-explicit-any": "warn",
                "@typescript-eslint/no-var-requires": "warn",
                "@typescript-eslint/prefer-interface": "off",
                "@typescript-eslint/no-empty-function": "error",
                "@typescript-eslint/no-unused-vars": "error",
                "@typescript-eslint/ban-ts-comment": "error",
                "camelcase": "off",
                "handle-callback-err": "off",
                "import/named": "off",
                "import/namespace": "off",
                "import/no-unresolved": "off",
                "no-empty-pattern": "warn",
                "no-var": "error",
                "react/prop-types": "off",
                "use-isnan": "off"
            }
        }
    ]
}
