{
    "printWidth": 80,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "semi": true,
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.json", "*.html"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
